<!doctype html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en" xmlns:th="http://www.thymeleaf.org"><![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8" lang="en" xmlns:th="http://www.thymeleaf.org"><![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie10 lt-ie9" xmlns:th="http://www.thymeleaf.org"> <![endif]-->
<!--[if IE 9]>
<html class="no-js lt-ie10" xmlns:th="http://www.thymeleaf.org"> <![endif]-->
<!--[if gt IE 9]><!-->
<html class="no-js" lang="en" xmlns:th="http://www.thymeleaf.org"> <!--<![endif]-->
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta charset="utf-8"/>
    <title>Mobile</title>
    <!-- <base href="/webapp"><!-- /Users/tcart00/IdeaProjects/Hackathon/src/main -->
    <meta name="description" content=""/>
    <meta name="author" content="Blackhawk Network"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="shortcut icon" type="image/x-icon" href="/giftcardApp/images/favicon.ico"/>
    <link rel="stylesheet" type="text/css"
          href="https://fonts.googleapis.com/css?family=Open+Sans:400,700,400italic,700italic"/>
    <link rel="stylesheet" type="text/css" href="/giftcardApp/library/jquery-ui-1.11.2-smoothness/jquery-ui.min.css"/>
    <link rel="stylesheet" type="text/css" href="/giftcardApp/css/global.css?v=20160421"/>
    <link rel="stylesheet" type="text/css" href="/giftcardApp/css/layout.css?v=20160421"/>
    <link rel="stylesheet" type="text/css" href="/giftcardApp/css/adhawk.css?v=20160421"/>
    <script src="/giftcardApp/library/modernizr-2.5.3/modernizr-2.5.3-respond-1.1.0.min.js"></script>
    <script src="/giftcardApp/library/html5shiv-3.7.2/html5shiv.min.js"></script>
    <script src="/giftcardApp/library/jquery-1.11.2/jquery.min.js"></script>
    <script src="/giftcardApp/library/jquery-ui-1.11.2/jquery-ui.min.js"></script>
    <script type="text/javascript" src="/giftcardApp/js/iscroll.js"></script>
    <script type="text/javascript">
        var myScroll;
        function iscrollLoaded() {
            myScroll = new IScroll('#main', {
                mouseWheel: true,
                scrollbars: true
            });
        }
    </script>
</head>
<body class="CS_main adhawk" onload="iscrollLoaded()">
<div id="divMainContainer" class="mainContainer cf">
    <header role="banner" id="header">
        <div role="navigation" class="siteNav">
            <a href="index"><img src="/giftcardApp/images/backicon.png" alt="" class="adHawkLogo"/></a>

            <h1>nearby</h1>

            <div id="mobileNav">
                <a href="#"><img alt="Menu" src="/giftcardApp/images/menu-icon.png"></a>
            </div>
        </div>
    </header>
    <nav role="menubar" id="menubar">
        <ul id="siteNav">
            <li><a href="index">Home</a></li>
            <li><a href="give">Give</a></li>
            <li><a href="redeem">Redeem</a></li>
            <li><a href="contacts">Contacts</a></li>
            <li><a href="register">Register</a></li>
        </ul>
    </nav>
    <div id="contentWrapper">
        <div id="animationWrapper">
            <section id="mainContent" role="main" class="mainContent fullWidth">
                <div id="main">
                    <div id="scrollingsection">

                        <div class="messageFromRecipient">
                            <p><img src="/giftcardApp/images/safeway.png" alt="" class="smiley"/></p>

                            <p>0.9 mile</p>

                            <p><img src="/giftcardApp/images/trans-target-500x500.png" alt="" class="smiley"/></p>

                            <p>2.3 mile</p>

                            <p><img src="/giftcardApp/images/best_buy_logo_detail_02.gif" alt="" class="smiley"/></p>

                            <p>2.6 mile</p>

                            <p><img src="/giftcardApp/images/macys+logo.jpg" alt="" class="smiley"/></p>

                            <p>3.1 mile</p>

                            <p><img src="/giftcardApp/images/safeway.png" alt="" class="smiley"/></p>

                            <p>4.9 mile</p>

                            <p><img src="/giftcardApp/images/starbucks-banner.jpg" alt="" class="smiley"/></p>

                            <p>5.1 mile</p>
                        </div>

                    </div>
                </div>
        </div>
        </section>
    </div>
</div>
<footer>
    <nav role="navigation">
        <ul>
            <li><a href="/giftcardApp/chat"><img src="/giftcardApp/images/chat.png" alt="chat"
                                                 class="chat"/><span>Chat</span></a>
            </li>
            <li><a href="/giftcardApp/contact"><img src="/giftcardApp/images/phonebook.png" alt="contact"
                                                    class="chat"/><span>Contact</span></a></li>
            <li><a href="/giftcardApp/nearby"><img src="/giftcardApp/images/cart.png" alt="nearby"
                                                   class="chat"/><span>Nearby</span></a></li>
            <li><a href="/giftcardApp/user/users"><img src="/giftcardApp/images/account.jpg" alt="balance"
                                                       class="chat"/><span>Account</span></a></li>
        </ul>
        <p role="contentinfo">&#169;
            <script>document.write(new Date().getFullYear())</script>
            AdHawk. All Rights Reserved.
        </p>
    </nav>
</footer>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $("#mobileNav").click(function (event) {
            event.preventDefault();
            $("#siteNav").slideToggle("slow");
        });
    });
</script>

<script src="/giftcardApp/js/adhawk.js"></script>
</body>
</html>